:root {
  --clr-text: #330000;
  --clr-bg-body: #ffffcc;
  --clr-bg-header-footer: #ccaa66;
  --clr-bg-nav: #E8D882;
  --clr-bg-main: #f1e8b0;
}

/* Text: #330000
Body background: #ffffcc
Header and footer background: #ccaa66
Left (navigation) column background: #E8D882
Right (main content) column background: #f1e8b0
The text is displayed in Verdana font.  */


*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  font-family: Verdana, sans-serif;
  background-color: var(--clr-bg-body);
  color: var(--clr-text);
}

body >.page-wrapper > .main-wrapper > header, 
body >.page-wrapper > .main-wrapper > footer {
  background-color: var(--clr-bg-header-footer);
}

.nav-container {
  background-color: var(--clr-bg-nav);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  height: 100dvh;
}

main { 
  background-color: var(--clr-bg-main);
  
}

body >.page-wrapper > .main-wrapper > header, 
body >.page-wrapper > .main-wrapper > footer,
main > * {
  padding: 1em;
}

section {
  min-height: 100vh;
  min-height: 100dvh;
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-wrapper {
  width: 100%;
}